.product-container .product-title {
	color: #F9AF19;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2;
	word-spacing: 3px;
}
.product-container .product-row {
	margin-top: 35px;
}
.product-container .product-area {
    width: 380px;
    min-width: 380px;
    min-height: 470px;
    height: 470px;
}
.product-container .product-rec {
	padding: 0px;
	width: 100%;
	margin-bottom: 10px;
}
.product-container .product-rec img {
	height: 363px;
	width: 363px;
}
.product-container .product-des {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 25px;
}

/* modal */
#productModal {
	padding-right: 0px !important;
	width: 396px;
    margin: auto;
}
#productModal .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0px;
}
#productModal .modal-dialog .modal-content {
	width: 100%;
}

#productGallery a {
	background: rgba(0, 0, 0, 0.5);
}
